.nav-link{
    transition: all.4s;
}
.nav-link:hover{
    background-color: rgba(223, 119, 15, 0.952);
    border-radius: 25px;
    
    
    transform: translateY(-2px);
    
}
.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
  }
  
.carousel-item img{
    height: 550px;
}
.carousel-caption{
    text-align: center;
}

